<div class="header">
    <div class="container">
        <a href="#" class="name">
            <i class="fa-solid fa-code"></i>
            <h4>ali mohammed</h4>
        </a>
        <nav>
            <div class="bars">
                <span class=""></span>
                <span class=""></span>
                <span class=""></span>
            </div>
            <ul class="links">
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="/pages/html&css.html">
                    <li>HTML & CSS</li>
                </a>
                <a href="#">
                    <li>HTML & CSS & JS</li>
                </a>
                <a href="pages/guessWord.html">
                    <li>Games</li>
                </a>
            </ul>
        </nav>
    </div>
</div>